<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Login | MVC Auth App</title>
		<link rel="stylesheet" href="styles/style.css" />
	</head>
	<body>
		<div class="container">
<% if (error_msg.length > 0) { %>
    	<div class="flash-error">
			<%= error_msg %>
		</div>
<% } %>

<% if (success_msg.length > 0) { %>
		<div class="flash-success">
			<%= success_msg %>
		</div>
<% } %>
			<div class="card">
				<h2>Welcome Back 👋</h2>
				<p class="tagline">Sign in to continue to your account.</p>

				<form action="/login" method="POST">
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" required />
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" required />
					</div>

					<button type="submit">Login</button>
				</form>

				<p class="switch">
					Don’t have an account?
					<a href="/register">Register here</a>
				</p>
			</div>
		</div>
	</body>
</html>
